# O seguinte projeto tem o objetivo de investigar a probabilidade de prever corretamente o tipo de câncer de mama (maligno ou benigno) dado as características da massa da mama calculada a partir de imagens digitalizadas. As características descrevem o núcleo da célula presente na massa da mama.

Informação das características:

     Característica                     Domínio
   -- -----------------------------------------
   1. Sample code number            id number
   2. Clump Thickness               1 - 10
   3. Uniformity of Cell Size       1 - 10
   4. Uniformity of Cell Shape      1 - 10
   5. Marginal Adhesion             1 - 10
   6. Single Epithelial Cell Size   1 - 10
   7. Bare Nuclei                   1 - 10
   8. Bland Chromatin               1 - 10
   9. Normal Nucleoli               1 - 10
  10. Mitoses                       1 - 10
  11. Class:                        (2 for benign, 4 for malignant)

In [2]:
import os
import sys
import time
import datetime
import numpy as np
import pandas as pd
import pathlib
import csv

In [3]:
datapath = pathlib.Path("../Data Science/")
outputs = pathlib.Path("../outputs/")
csvfile = "breastcancerdata.csv"
datafile = datapath / csvfile

### Analisando os dados da maneira que foram capturados.

In [4]:
df = pd.read_csv(datafile)
df.head()
#df.info()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

In [5]:
df.shape

(698, 11)

### Inserindo o nome de cada característica nas colunas.

In [6]:
df.columns = ['Id', 'Thickness', 'UniofCellSize', 'UniformityofCellShape', 'MarginalAdhesion', 'SingleEpithelialCellSize', 'BareNuclei', 'Bland Chromatin', 'Normal Nucleoli', 'Mitoses', 'Class']

In [7]:
df.describe()

,Id,Thickness,UniofCellSize,UniformityofCellShape,MarginalAdhesion,SingleEpithelialCellSize,Bland Chromatin,Normal Nucleoli,Mitoses,Class
count,6.980000e+02,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000
mean,1.071807e+06,4.416905,3.137536,3.210602,2.809456,3.217765,3.438395,2.869628,1.590258,2.690544
std,6.175323e+05,2.817673,3.052575,2.972867,2.856606,2.215408,2.440056,3.055004,1.716162,0.951596
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.702582e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238354e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [8]:
df.head()

,Id,Thickness,UniofCellSize,UniformityofCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4

In [9]:
df.shape

(698, 11)

In [22]:
#Número de casos malignos
maligno = len(df[df['Class']==4])

#Número de casos benignos
benigno = len(df[df['Class']==2])

#Taxa de tumores malignos
taxa = str((float(maligno)/(len(df)))*100)

print(taxa + '%')

34.52722063037249%